[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-protobuf-syntax"]
	path = bundle/vim-protobuf-syntax
	url = https://github.com/jdevera/vim-protobuf-syntax.git
[submodule "bundle/linediff.vim"]
	path = bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/thrift.vim"]
	path = bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
[submodule "bundle/cscope.vim"]
	path = bundle/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "bundle/diffchar.vim"]
	path = bundle/diffchar.vim
	url = https://github.com/vim-scripts/diffchar.vim.git
